<div class="col-lg-8">
    <img src="{% static 'images/bag1.jpg' %}">
    <div class="boxx-elementt product">
        <h6><strong>Vendor A's Product</strong></h6>
        <hr>
    </div>
</div>


<div class="col-lg-8">
    <img src="{% static 'images/bag2.jpg' %}">
    <div class="boxx-elementt product">
        <h6><strong>Vendor A's Product</strong></h6>
        <hr>
    </div>
</div>


<div class="col-lg-8">
    <img src="{% static 'images/bag3.jpg' %}">
    <div class="boxx-elementt product">
        <h6><strong>Vendor A's Product</strong></h6>
        <hr>
    </div>
</div>


<div class="col-lg-8">
    <img src="{% static 'images/bag4.jpg' %}">
    <div class="boxx-elementt product">
        <h6><strong>Vendor A's Product</strong></h6>
        <hr>
    </div>
</div>


<div class="col-lg-8">
    <img src="{% static 'images/bag5.jpg' %}">
    <div class="boxx-elementt product">
        <h6><strong>Vendor A's Product</strong></h6>
        <hr>
    </div>
</div>


<div class="col-lg-8">a<div class="col-lg-8">
    <img class="arrangingpic" src="{% static 'images/bag1.jpg' %}">
    <div class="boxx-elementt product">
        <h6><strong>Vendor A's Product</strong></h6>
        <hr>
    </div>
</div>


<div class="col-lg-8">
    <img class="arrangingpic" src="{% static 'images/bag2.jpg' %}">
    <div class="boxx-elementt product">
        <h6><strong>Vendor A's Product</strong></h6>
        <hr>
    </div>
</div>


<div class="col-lg-8">
    <img class="arrangingpic" src="{% static 'images/bag3.jpg' %}">
    <div class="boxx-elementt product">
        <h6><strong>Vendor A's Product</strong></h6>
        <hr>
    </div>
</div>

{% comment %}                     
<div class="col-lg-8">
    <img class="arrangingpic" src="{% static 'images/bag4.jpg' %}">
    <div class="boxx-elementt product">
        <h6><strong>Vendor A's Product</strong></h6>
        <hr>
    </div>
</div>


<div class="col-lg-8">
    <img class="arrangingpic" src="{% static 'images/bag5.jpg' %}">
    <div class="boxx-elementt product">
        <h6><strong>Vendor A's Product</strong></h6>
        <hr>
    </div>
</div>


<div class="col-lg-8">
    <img class="arrangingpic" src="{% static 'images/bag6.jpg' %}">
    <div class="boxx-elementt product">
        <h6><strong>Vendor A's Product</strong></h6>
        <hr>
    </div>
</div>


<div class="col-lg-8">
    <img class="arrangingpic" src="{% static 'images/bag7.jpg' %}">
    <div class="boxx-elementt product">
        <h6><strong>Vendor A's Product</strong></h6>
        <hr>
    </div>
</div>


<div class="col-lg-8">
    <img class="arrangingpic" src="{% static 'images/bag8.jpg' %}">
    <div class="boxx-elementt product">
        <h6><strong>Vendor A's Product</strong></h6>
        <hr>
    </div>
</div> {% endcomment %}

    <img src="{% static 'images/bag6.jpg' %}">
    <div class="boxx-elementt product">
        <h6><strong>Vendor A's Product</strong></h6>
        <hr>
    </div>
</div>


<div class="col-lg-8">
    <img src="{% static 'images/bag7.jpg' %}">
    <div class="boxx-elementt product">
        <h6><strong>Vendor A's Product</strong></h6>
        <hr>
    </div>
</div>


<div class="col-lg-8">
    <img src="{% static 'images/bag8.jpg' %}">
    <div class="boxx-elementt product">
        <h6><strong>Vendor A's Product</strong></h6>
        <hr>
    </div>
</div>